services:
  backend:
    build:
      dockerfile: ./backend.Dockerfile
    ports:
      - 8080:8080
    networks:
      - backend-db
    depends_on:
      db:
        condition: service_healthy
    dns:
      - 8.8.8.8
      - 1.1.1.1
  db:
    image: postgres:14.19
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - backend-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    expose:
      - 5432
volumes:
  db-data:
networks:
  backend-db:
    driver: bridge